* {
    font-family: Tahoma;
}

table {
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 5px
}

th {
    background-color: lightcyan;
}

#vehicleupdateformdiv, #driverupdateformdiv, #shiftupdateformdiv {
    display: none;
    flex-direction: column;
    margin-bottom: 10px;
}

    #vehicleupdateformdiv, #driverupdateformdiv, #shiftupdateformdiv label, input, button {
        margin: 10px;
        padding: 5px;
    }

    #vehicleupdateformdiv, #driverupdateformdiv, #shiftupdateformdiv label {
        font-weight: bolder;
    }

#vehicleformdiv, #driverformdiv, #shiftformdiv {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

    #vehicleformdiv, #driverformdiv, #shiftformdiv label, input, button {
        margin: 10px;
        padding: 5px;
    }

    #vehicleformdiv, #driverformdiv, #shiftformdiv label {
        font-weight: bolder;
    }

table button {
    padding: 2px;
}

#vehiclecatalogdiv {
    display: none
}

#drivercatalogdiv {
    display: initial
}

#shiftcatalogdiv {
    display: none
}
